<div class="container" ng-class="{dark: lightsout}">
    <div class="centerblock centertext">
      <h1>Welcome</h1>
      <div ng-if="!lightsout" class="jumbotron text-center">
        <h1><b>Benjamin Huang</b></h1>
        <h2><b>Computer Science and Mathematics Educator</b></h2>
      </div>
      <h1 ng-if="lightsout"><b>Benjamin Huang</b></h1>
      <h2 ng-if="lightsout"><b>Computer Science and Mathematics Educator</b></h2>

      <p><b>benjaminthuang@gmail.com | 650-430-4207 | Sunnyvale, CA </b></p>
      <a href="https://github.com/CoolConfucius" target="_blank">github.com/CoolConfucius</a><br>
      <a href="https://www.linkedin.com/in/benjamin-t-huang/" target="_blank">linkedin.com/in/benjamin-t-huang</a>
    </div>
    <br>
    
    <div class="centerblock">
      <h2 class="centertext">Education </h2>
      <h4><b>National University</b>, San Jose, CA</h4>
      <p><i>Current student in Master of Edutation with Single Subject Teaching Credential program. </i></p>
      <p><i>GPA: 4.0 - CBEST (2017) - CSET Math Subtest I (2018)</i></p>
      
      <h4><b>Coding Dojo</b>, Certificate, San Jose, CA, <b>2016</b></h4>
      <p><i>Student. </i>Worked 490 to 630 hours. Studied the MEAN stack in depth and trained by building independent projects. Solved algorithms and data structure challenges regularly. </p>

      <h4><b>Coding Dojo</b>, Certificate, San Jose, CA, <b>2016</b></h4>
      <p><i>Student. </i>Worked 490 to 630 hours. Studied the MEAN stack in depth and trained by building independent projects. Solved algorithms and data structure challenges regularly. </p>
      
      <h4><b>Coding House</b>, Fremont, CA, <b>2015, 2016</b></h4>
      <p><i>Student. </i>Worked 1120 to 1792 hours: attending lectures, solving coding challenges, working on solo and group projects, and participating in hackathons. Technologies practiced include: JavaScript, HTML, CSS, Git, jQuery, Bootstrap, Node, Express, Angular, MongoDB, React, Firebase. </p>

      <h4><b>Santa Clara University</b>, Santa Clara, CA, <b>2015</b></h4>
      <ul>
        <li><i>BS in Computer Science, Minor in Creative Writing, GPA: 3.671</i></li>
        <li><i>Part of Kappa Delta Pi Education Honors Society</i></li>
        <li><i>Part of Pi Mu Epsilon Computing Honors Society</i></li>
        <li><i>Teaching Assistant and Grader, Founder of SCU Peer Support</i></li>
      </ul>
      <h4><b>Computer Science / Engineering Coursework:</b></h4><p><i>Mobile Web Development, Programming Languages, Theory of Algorithms, Data Structures, Object Oriented Programming </i></p> 
      <b>VP of SCU's Interfaith Council</b>
      <ul><li>Made presentations and facilitated discussions</li></ul>
      <b>Peer Educator of Life Writing</b>
      <ul>
        <li>Lead a small group, gave students feedback on their writing, facilitated discussions</li>
      </ul>
    </div>

    <!-- <div class="centerblock centertext"> -->
    <div class="centerblock">
      <h2 class="centertext">Experience </h2>
      <h4><b><i>Full-Stack Web Developer</i></b></h4>
      <span><b>Young Professional Council</b>, San Jose, CA: <b>April 2017- Present</b></span>
      <p>Collaborated with other developers in a Scrum environment. Worked on a non-profit website: </p>
      <ul>
        <li>Fixed bugs and wrote documentation</li>
        <li>Took on a leadership role in the development team </li>
        <li>Coached other developers </li>
        <li>Used technologies such as: Angular, jQuery, EJS, Node, MongoDB, and Git</li>
        <li>Implemented the user authentication and edit web page feature </li>
        <li>Improved website functionality  </li>
        <li>GitHub Repository:  <a href="https://github.com/CoolConfucius/meantemplateypc">github.com/CoolConfucius/meantemplateypc</a> </li>
      </ul>

      <h4><b><i>IOT Developer Intern</i></b></h4>
      <span><b>SAP</b>, Palo Alto, CA: <b>April 2016 - October 2016</b></span>
      <p>Worked on development and quality assurance tasks for IOT projects:</p>
      <ul>
        <li>Wrote NodeJS scripts</li>
        <li>Did HTML CSS styling</li>
        <li>Found and reported bugs in applications </li>
        <li>Kept track of product needs and development progress in an Agile Scrum environment.</li>
      </ul>

      <h4><b><i>Code Mentor</i></b></h4>
      <span><b>Coding House</b>, Fremont, CA: <b>February 2016 - April 2016</b></span>
      <ul>
        <li>Mentored a cohort of students </li>
        <li>Evaluated students’ projects and gave them feedback</li>
        <li>Took lecture notes for students and assisted them on their projects</li>
        <li>Worked on two major MEAN stack projects</li>
      </ul>
    </div>

    <div class="centerblock">
      <h3 class="centertext">Technical Skills</h3>
      <table class="table">
        <thead>
          <tr>
            <th><h4> Programming Languages: </h4></th>
            <th><h4> Client Side:</h4></th>
            <th><h4> Server Side and Database: </h4></th>            
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul ng-class='{light: !lightsout}'>
                <li>JavaScript ES2015</li>
                <li>Python</li>
                <li>Java</li>
                <li>C++</li>
                <li>C</li>
              </ul>
            </td>
            <td>
              <ul ng-class='{lightodd: !lightsout}'>
                <li>HTML</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>jQuery</li>
                <li>Angular</li>
                <li>React</li>
                <li>AJAX</li>
                <li>Jade</li>
              </ul>
            </td>
            <td>
              <ul ng-class='{light: !lightsout}'>
                <li>NodeJS</li>
                <li>Express</li>
                <li>MongoDB</li>
                <li>Mongoose</li>
                <li>SQL</li>
              </ul>
            </td>
          </tr>          
        </tbody>
      </table> 
      <h5><b>Misc:</b> </h5>    
      <td ng-class='{light: !lightsout}'> ▪ Git ▪ UNIX ▪ Agile ▪ Gulp ▪ Bower</td></tr> 
    </div>
    <br>




    <div class="centerblock" ng-class='{hidedeets: hidedeets}'>    
      <h2> Projects:</h2>
      <button ng-if="hidedeets" ng-click="toggledeets()" class="btn btn-success btn-sm">Show Descriptions</button>
      <button ng-if="!hidedeets" ng-click="toggledeets()" class="btn btn-warning btn-sm">Hide Descriptions</button>
      <button ng-if="!allprojects" ng-click="toggleprojects()" class="btn btn-success btn-sm">Show More Projects</button>
      <button ng-if="allprojects" ng-click="toggleprojects()" class="btn btn-warning btn-sm">Show Less Projects</button>
      <ul>
        <li>
          <a href="http://coolconfucius.github.io/BlackJack21/" target="_blank">
            <h4>Single Player Blackjack 21 against AI in jQuery</h4>
          </a>
          <p class="detail">User plays against an AI with a standard deck of 52 cards. Face cards count as ten points. Player and AI can count an ace as 1 point or 11 points. Other cards are counted as their numeric value. Both players begin with two cards. User can choose to “hit”, add a card to their hand, or “stand”, take no cards. The player whose hand exceeds 21 is busted. When neither busts, the player with higher points win. Can also place bets. Wins and loses are stored in local storage.</p>
          <a href="https://github.com/CoolConfucius/BlackJack21" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        <li>
          <a href="http://coolconfucius.github.io/TowersOfHanoi/" target="_blank">
            <h4>Towers of Hanoi Game in jQuery</h4>
          </a>
          <p class="detail">Begins with three stacks: the first one full with ordered disks and the other two empty. User can only move the top disk of a stack to the top of another stack. No disk can be placed on top of a smaller disk. User wins by moving all the disks to the third stack. Has a reset button. Can toggle the difficulty level (number of disks to play with). </p>
          <a href="https://github.com/CoolConfucius/TowersOfHanoi" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        <li>
          <a href="http://coolconfucius.github.io/BattleShip/bs.html" target="_blank">
            <h4>Single Player Battleship against AI in jQuery</h4>
          </a>
          <p class="detail">Two 10x10 grids. User places 5 ships of lengths—2, 3, 3, 4, 5 squares—onto their grid. May place the ships horizontally or vertically. On the other grid, the AI has 5 ships of the same lengths placed randomly. All ships must be within their grids and not overlap. AI’s ships are hidden from the user.  User and AI take turns hitting a square on each other’s grid. When a ship is hit, the square is marked as hit. Else, the square is marked as miss. The player who sinks all their opponent’s ships wins.</p>
          <a href="https://github.com/CoolConfucius/BattleShip" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>

        <li>
          <a href="https://storiesepic.herokuapp.com/" target="_blank">
            <h4>Collaborative Stories</h4>
          </a>
          <p>Users can start stories and add snippets to stories.</p>

          <div class="detail">
            <ul>
              <li>Solo project</li>
              <li>Built in MEAN Stack with gulp, bcrypt, and sweetalert.</li>
            </ul>
            <br>
          </div>

          <a href="https://github.com/CoolConfucius/stories-epic" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>

        <li ng-if="allprojects">
          <a href="https://autovision.herokuapp.com/" target="_blank">
            <h4>Autovision</h4>
          </a>

          <p>A marketplace app for buying and selling auto parts.</p>

          <div class="detail">
            <ul>
              <li>Group project</li>
              <li>Responsible for developing the server side and client side logic and user authentication.</li>
              <li>Built in MEAN Stack with AWS, Mailgun, and bcrypt.</li>
            </ul>
            <br>
          </div>
          <a href="https://github.com/909socal/autovision-epic" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
  
        <li>
          <a href="http://coolconfucius.github.io/vanillaCalculator/" target="_blank">
            <h4>Calculator in jQuery</h4>
          </a>
          <p class="detail">Does addition, subtraction, multiplication, and division operations. Can insert decimal numbers and toggle between positive and negative numbers. Allows chain operations. </p>
          <a href="https://github.com/CoolConfucius/vanillaCalculator" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        <li>
          <a href="http://coolconfucius.github.io/MemoryMatchGame/" target="_blank">
            <h4>Memory Match Game in jQuery</h4>
          </a>
          <p class="detail">16 cards faced down. Each card has a matching pair. Click a card to flip it. Win by finding all the matches.</p>
          <a href="https://github.com/CoolConfucius/MemoryMatchGame" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        
        <li>
          <a href="http://coolconfucius.github.io/TicTacToe2/" target="_blank">
            <h4>Two Player Tic Tac Toe in jQuery</h4>
          </a>
          <p class="detail">In a 3x3 grid, two users, take turns marking their symbol on the grid by clicking. The user who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row wins. </p>
          <a href="https://github.com/CoolConfucius/TicTacToe2" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        <li ng-if="allprojects">
          <a href="https://starwarscollector.herokuapp.com/" target="_blank">
            <h4>Star Wars Collector</h4>
          </a>
          <p class="detail">An app built with Firebase Authentication, Mongo, and a Star Wars API. Register, login, find your favorite Star Wars characters and add them to your collection.</p>
          <a href="https://github.com/CoolConfucius/StarWarsCollector" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        
        <li ng-if="allprojects">
          <a href="https://linkarchives.herokuapp.com/" target="_blank">
            <h4>Link Archives</h4>
          </a>
          <p>An app that helps users collect and organize URLs.</p>

          <div class="detail">
            <ul>
              <li>Solo project</li>
              <li>Built in MEAN Stack with bcrypt.</li>
            </ul>
            <br>
          </div>

          <a href="https://github.com/CoolConfucius/linkarchives" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        
        <li ng-if="allprojects">
          <a href="https://tranquil-lake-86813.herokuapp.com/" target="_blank">
            <h4>Full stack product list app in Firebase, Mongoose, Express, jQuery, and Jade</h4>
          </a>

          <p class="detail">The Product Wish List lets you keep track of items that you want to buy but not immediately, or items you're considering to buy. You can: Get an organized view of your list; Add items to your list; View showpages with details of your items; Remove items from your list; Update items on your list; Get a grand total price of your list; Filter and sort items on your list.</p>
          <a href="https://github.com/CoolConfucius/WishList" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        <li ng-if="allprojects">
          <a href="https://gametrade2016.herokuapp.com/" target="_blank">
            <h4>Game Trading app</h4>
          </a>
          <p class="detail">Pair programmed fullstack app made in Mongoose with Firebase Authentication. Registered users can: post their games for trade; Select games that and offer games to trade; Accept or decline trades offered by other users.</p>
          <a href="https://github.com/CoolConfucius/20160203" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>

        <li ng-if="allprojects">
          <a href="https://p20160202.herokuapp.com/" target="_blank">
            <h4>Property management app in Mongoose and Jade, Pair Programming</h4>
          </a>
          <p class="detail">A tool for landlords to oversee their apartments and for tenants to find, move in and out of rooms.</p>
          <a href="https://github.com/CoolConfucius/property-management" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>

        <li ng-if="allprojects">
          <a href="https://p20160202.herokuapp.com/" target="_blank">
            <h4>Mobile Weather App in jQuery, Bootstrap, using a weather API</h4>
          </a>
          <p class="detail">Search for a location by entering a state and city or a zipcode. Gets forecast information from Wunderground, a weather API. Search history is saved in local storage.</p>
          <a href="https://github.com/CoolConfucius/WeatherApp" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        <li ng-if="allprojects">
          <a href="http://coolconfucius.github.io/FirebaseTicTacToe/" target="_blank">
            <h4>Real-time two player Tic Tac Toe in jQuery and Firebase</h4>
          </a>
          <p class="detail">Game only starts when there are two players. Only two players may play in one game. Standard Tic Tac Toe rules are applied.</p>
          <a href="https://github.com/CoolConfucius/FirebaseTicTacToe" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>

        <li ng-if="allprojects">
          <a href="http://coolconfucius.github.io/angular-stock-tracker/" target="_blank">
            <h4>Stock Tracker app in Angular using a stock API</h4>
          </a>
          <p class="detail">Uses Markit on Demand, a stock API. Users can search for symbols, add symbols, get stock information on tracked symbols, and untrack symbols. Data is stored in local storage. </p>
          <a href="https://github.com/CoolConfucius/angular-stock-tracker" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>
        


        <li ng-if="allprojects">
          <a href="http://coolconfucius.github.io/ContactList/" target="_blank">
            <h4>Contact List app in jQuery, Bootstrap</h4>
          </a>
          <p class="detail">Add contacts to your list. Remove and edit them. Sort by clicking the headers. Click the same header again to reverse the order. Filter by contact category.</p>
          <a href="https://github.com/CoolConfucius/ContactList" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>


        <li ng-if="allprojects">
          <a href="http://coolconfucius.github.io/to-watch-list/" target="_blank">
            <h4>Films to Watch List app in Angular</h4>
          </a>
          <p class="detail">A tool to help users keep track of films they want to watch later. Can add, edit, remove, sort, and filter the films on the list. Data is stored in local storage.</p>
          <a href="https://github.com/CoolConfucius/to-watch-list" target="_blank" class="btn btn-sm" ng-class='{"btn-info": !lightsout, "btn-default": lightsout}'>View on GitHub</a>
        </li>



      </ul>
    </div>



      <br>
    <div class="centerblock">
      <h3 class="centertext"><b>Educational Volunteer Experiences</b></h3>
      <p><b>The Blind School,</b> Taipie, Taiwan:</p>
      <p><i>Tutored English to students with disabilities</i></p>
      <p><b>Onesiphorus Children’s Home, </b>Taitung, Taiwan: </p>
      <p><i>Tutored English to young children</i></p>
      
      <p><b>Buchser Middle School, </b>Santa Clara, CA: </p>
      <p><i>Worked as a Teaching Assistant for a Mathematics class</i></p>
      <p><b>Bellarmine College Prep, </b>San Jose, CA: </p>
      <p><i>One-on-one tutored AP Mandarin Chinese</i></p>
    </div>

  </div>