<div class="container" ng-class="{dark: lightsout}">
    <div class="centerblock centertext">
      <h1><b>Benjamin Huang</b></h1>
      <h2><b>Full-Stack JavaScript Developer</b></h2>

      <div ng-if="!lightsout" class="container row">
        <span class="col-xs-3 col-xs-offset-1">benjaminthuang@gmail.com</span>
        <a class="col-xs-3 col-xs-offset-2" href="https://github.com/CoolConfucius" target="_blank">https://github.com/CoolConfucius</a>
      </div>
      <p ng-if="lightsout">benjaminthuang@gmail.com</p>
      <a ng-if="lightsout" href="https://github.com/CoolConfucius" target="_blank">https://github.com/CoolConfucius</a>

    </div>
    <br>
    <div class="centerblock">
      <table class="table">
        <thead>
          <tr>
            <th><h4> SKILLS</h4></th>
            <th><h4></h4></th>
            <th><h4> EXPOSURE </h4></th>
            <th><h4></h4></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul ng-class='{light: !lightsout}'>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Bootstrap</li>
                <li>Mongo DB</li>
              </ul>
            </td>
            <td>
              <ul ng-class='{lightodd: !lightsout}'>
                <li>Express JS</li>
                <li>Angular JS</li>
                <li>Node JS</li>
                <li>Firebase</li>
                <li>Jade</li>
              </ul>
            </td>
            <td>
              <ul ng-class='{light: !lightsout}'>
                <li>React JS</li>
                <li>Angular Fire</li>
                <li>Passport</li>
                <li>Ionic</li>
                <li>Ember JS</li>
                <li>ZURB Foundation</li>
                <li>C++</li>
              </ul>
            </td>
            <td>
              <ul ng-class='{lightodd: !lightsout}'>
                <li>C</li>
                <li>Assembly</li>
                <li>SQL</li>
                <li>Java</li>
                <li>Python</li>
                <li>Scheme</li>
                <li>Scala</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>    
    </div>



    <div class="centerblock">    
      <h2>Project Experience:</h2>
      <ul ng-class='{light: !lightsout}'>
        <li><h4>MEAN Stack with User Authentication Car Parts Trading App group project</h4></li>
        <li><h4>Collaborative Stories, a MEAN Stack app</h4></li>
        <li><h4>Memory game in ReactJS</h4></li>
        <li><h4>Full stack product list app in Firebase, Mongoose, Express, and jQuery</h4></li>
        <li><h4>Single Player Blackjack 21 against AI in jQuery and Bootstrap</h4></li>
        <li><h4>Real-time two player Tic Tac Toe in jQuery and Firebase</h4></li>
        <li><h4>Banking app in Mongoose, Express, Jade, and Passport</h4></li>
        <li><h4>Weather app in jQuery and Ember JS using a weather API</h4></li>
        <li><h4>Action game in Phaser</h4></li>
        <li><h4>Property management app in Mongoose with a teammate</h4></li>
        <li><h4>Solved various programming challenges in JavaScript, C++, Python, and Java</h4></li>
        <li><h4>Participated in Tech Crunch’s Disrupt SF Hackathon</h4></li>
        <li><h4>Participated in Kandy IO Hackathon</h4></li>
        <li><h4>Built and programmed a robot to do various tasks in Mindstorms</h4></li>
        <li><h4>Studied and practiced the Agile Scrum methodology</h4></li>
        <li><h4>Lead a group to biuld, program, and present a Mindstorms robot</h4></li>
      </ul>
    </div>

    <br>
    <div class="centerblock centertext">
      <h2>Education and Experience: </h2>
      <h3>The Coding House Institute, Fremont, CA</h3>
      <p>Intensive Fullstack Software Web Developer Boot Camp</p>
      <p>Student from late August 2015 to mid October 2015</p>
      <p>Student from early January 2016 to late Febuary 2016</p>
      <p>Code Mentor from late February 2016 to present</p>
      <h3>Santa Clara University, Santa Clara, CA</h3>
      <p>BS, Computer Science; Minor in Creative Writing--Graduated in June 2015</p>
      <p>Pi Mu Epsilon Computing Honors Society</p>
      <p>GPA: 3.69</p>
      
      <p></p>

    </div>
    <br>
    
    <div class="row centerblock">
      
      <div class="col-sm-6">    
        <h2>Leadership Experience:</h2>
        <b>Santa Clara University, Santa Clara, CA</b>
        <ul>
          <li>Vice President of SCU's Interfaith Council</li>
          <li>Founder of SCU Peer Support</li>
          <li>Peer Educator of Life Writing</li>
        </ul>
      </div>

      <div class="col-sm-6">    
        <h2>Additional Experiences:</h2>
        <b>Santa Clara University, Santa Clara, CA</b>
        <p>Teaching Assistent and Grader for Calculus</p>
        <b>The Blind School, Taipei, Taiwan</b>
        <p>Volunteered in tutoring English</p>
        <b>Bellarmine College Prep, San Jose, CA</b>
        <p>Tutored AP Mandarin Chinese</p>
      </div>
    </div>


  </div>